* {
    margin: 0;
}

header {
    background-color: blueviolet;
    padding: 30px;
    margin-bottom: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffff;
}

.container {
    border: #ffff;
    padding: 15px;
}

h3 {
    margin-bottom: 16px;
    
}

p {
    margin-right: 0;
}

.input {

}